@use "sass:map";
@import "style/pages/theme.scss";

.header__top {
    background: #f5f5f5;
}

.header__top_left {
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        column-gap: 20px;
        padding: 10px 0 13px;
        margin-left: 150px;

        li {
            font-size: 14px;
            display: flex;
            color: map.get($theme-colors, "normal-text");
            align-items: center;
            column-gap: 2px;
        }

        li:first-child {
            position: relative;

            &::after {
                position: absolute;
                right: -10px;
                top: 1px;
                height: 20px;
                width: 1px;
                background: #b81919;
                opacity: 0.5; 
                content: "";
            }
        }
    }
}

.header__top_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 13px;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
            color: map.get($theme-colors, "normal-text");
        }

        li:last-child {
            cursor: pointer;
            margin-left: 10px;
            margin-right: 150px;
        }

        span {
            font-size: 14px;
            margin-left: 2px;
            //color: map.get($theme-colors, "normal-text");
        }
    }
}
.header__cart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    ul{
        display: flex;
        margin-right: 25px;
        li{
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg{
                font-size: 25px;
                color: map.get($theme-colors,"normal-text");
            }

            span{
                color: white;
                background: map.get($theme-colors,"main");
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                left: 20px;
                top: -7px;
            }
        }
    }
}